# Nike Shoes Charts

In [3]:
import pandas as pd

df_men_shoes_charts = pd.read_html('https://img.nike.com.hk/resources/sizecart/mens-shoe-sizing-chart_en.html')
df_men_cm = df_men_shoes_charts[0]
df_men_cm.to_csv('men_shoes_chart_cm.csv')
print(df_men_cm.info())

df_women_shoes_charts = pd.read_html('https://img.nike.com.hk/resources/sizecart/womens-shoe-sizing-chart_en.html')
df_women_cm = df_women_shoes_charts[0]
df_women_cm.to_csv('women_shoes_chart_cm.csv')
print(df_women_cm.info())

df_women_inch = df_women_shoes_charts[1]
df_women_inch.to_csv('women_shoes_chart.csv')
print(df_women_inch.info())
print(df_women_inch.describe())
print(df_women_inch[0:5])
print(df_women_inch.iloc[2,:])
print(df_women_inch.iloc[:,2])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   HEEL-TO-TOE LENGTH(cm)  26 non-null     float64
 1   CM                      26 non-null     float64
 2   EU                      26 non-null     float64
 3   UK                      26 non-null     float64
 4   US                      26 non-null     float64
dtypes: float64(5)
memory usage: 1.1 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FOOT LENGTH (CM)  15 non-null     float64
 1   EU                15 non-null     float64
 2   CM                15 non-null     float64
 3   UK                15 non-null     float64
 4   US                15 non-null     float64
dtypes: float64(5)
memory usage: 728.0 bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   FOOT LENGTH (in.)  15 non-null     object
 1   EU                 15 non-null     float64
 2   CM                 15 non-null     float64
 3   UK                 15 non-null     float64
 4   US                 15 non-null     float64
dtypes: float64(4), object(1)
memory usage: 728.0+ bytes
None
              EU         CM         UK         US
count  15.000000  15.000000  15.000000  15.000000
mean   39.900000  25.500000   6.000000   8.500000
std     2.910572   2.236068   2.236068   2.236068
min    35.500000  22.000000   2.500000   5.000000
25%    37.750000  23.750000   4.250000   6.750000
50%    40.000000  25.500000   6.000000   8.500000
75%    42.250000  27.250000   7.750000  10.250000
max    44.500000  29.000000   9.500000  12.000000
  FOOT LENGTH (in.)    EU    CM   UK   US
0              85/8  35.5  22.0  2.5  5.0
1              87/8  36.0  22.5  3.0  5.5
2                 9  36.5  23.0  3.5  6.0
3              91/8  37.5  23.5  4.0  6.5
4              93/8  38.0  24.0  4.5  7.0
FOOT LENGTH (in.)       9
EU                   36.5
CM                   23.0
UK                    3.5
US                    6.0
Name: 2, dtype: object
0     22.0
1     22.5
2     23.0
3     23.5
4     24.0
5     24.5
6     25.0
7     25.5
8     26.0
9     26.5
10    27.0
11    27.5
12    28.0
13    28.5
14    29.0
Name: CM, dtype: float64

# Shoes Picker - Interact with User

In [8]:
gender = input("Male or Female? ")

foot_len = float(input("Foot Length in cm? "))

if gender.lower() == 'male' or gender[0] == 'm':
    print("Hey Man!")
    results = df_men_cm[ df_men_cm['HEEL-TO-TOE LENGTH(cm)'] >= foot_len ]
else:
    print("Dear Lady!")
    results = df_women_cm[ df_women_cm['FOOT LENGTH (CM)'] >= foot_len ]

if len(results) > 0:
    print(results.iloc[0,:])
else:
    print('Your foot is too big!')

Male or Female? m
Foot Length in cm? 28
Hey Man!
HEEL-TO-TOE LENGTH(cm)    28.3
CM                        29.5
EU                        45.5
UK                        10.5
US                        11.5
Name: 16, dtype: float64