# Python Basics Revision

In [1]:
# variables
count = 18
name = "Peter"
x = y = 2

In [2]:
# expressions
count = count + 1
print(count)

19

In [3]:
sum = x + y
print(sum)

4

In [4]:
# conditions
print(x == y == 9)

False

In [5]:
print(-5 < x <= y)

True

In [6]:
# branching
if x == y == 2:
  print(name, x, y)
else:
  print("x != 2 or y != 2")

Peter 2 2

In [7]:
# repetition
for i in range(3, 9):
  print( i, i*i )

3 9
4 16
5 25
6 36
7 49
8 64

# Python Advanced Examples

In [8]:
# call function shuffle() example
import random
cards = ["Spade King", "Heart Ace", "Diamond Queen", "Club Jack"]
random.shuffle(cards)
print("First shuffle:")
print(cards)

from random import shuffle
shuffle(cards)
print("Second shuffle:")
print(cards)

First shuffle:
['Diamond Queen', 'Spade King', 'Heart Ace', 'Club Jack']
Second shuffle:
['Club Jack', 'Diamond Queen', 'Heart Ace', 'Spade King']

In [9]:
# list examples
universities = ["CUHK", "HKU", "UST"]
print( "First:", universities[0] )
universities.append("MU");    # append "MU" at the end
universities[1] = "MU";     # replace "HKU" with "MU"
# the list becomes [ "CUHK" , "MU" , "UST" , "MU" ]
print( universities )      # print the whole list

for item in universities:
    print(item)        # print list items, one on a line

del universities[2]        # remove "UST"
print( universities )      # print the whole list

First: CUHK
['CUHK', 'MU', 'UST', 'MU']
CUHK
MU
UST
MU
['CUHK', 'MU', 'MU']

In [10]:
# list exercise
fruits = ["Apple", "Orange", "Banana"]
print(fruits)

fruits.append("Durian")
print(fruits)

print("3rd:", fruits[2])  # third element

['Apple', 'Orange', 'Banana']
['Apple', 'Orange', 'Banana', 'Durian']
3rd: Banana

In [11]:
print("Lucky Draw")

tickets = list( range(1, 100, 3) )  # create a new list
print("Original ticket numbers in ascending order:")
print(tickets)

import random
random.shuffle(tickets)
print("Shuffled ticket numbers in random order:")
print(tickets)

Lucky Draw
Original ticket numbers in ascending order:
[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49, 52, 55, 58, 61, 64, 67, 70, 73, 76, 79, 82, 85, 88, 91, 94, 97]
Shuffled ticket numbers in random order:
[88, 37, 10, 34, 1, 58, 64, 52, 79, 55, 70, 43, 13, 28, 76, 94, 40, 85, 4, 19, 91, 49, 97, 31, 82, 16, 67, 25, 61, 7, 22, 73, 46]

In [12]:
# tuple examples
GPS_location_HK = (22.3700556, 114.1535941)
x_y_coordinates = (-3, 7)
student_record = (1154987651, "Peter PAN", "CSCI", 3.97)
print( GPS_location_HK )
print( student_record[2] )

(22.3700556, 114.1535941)
CSCI

In [13]:
# tuple exercise: stock transaction
stock_transaction = ("14 Mar 2022", "HSBC", 2000, 49.61)

print( stock_transaction )

print( "Transaction price: HK$", stock_transaction[3] )

amount = stock_transaction[2] * stock_transaction[3]

print( "Transaction amount: HK$", amount)

('14 Mar 2022', 'HSBC', 2000, 49.61)
Transaction price: HK$ 49.61
Transaction amount: HK$ 99220.0

In [14]:
# list and tutple exercise solution 1
stock_transactions = [
    ("14 Mar 2022", "HSBC", 2000, 49.61),
    ("14 Mar 2022", "A50", 400, 15.52),
    ("10 Mar 2022", "HSBC", 4000, 48.36)
]
print( stock_transactions )
amount = stock_transactions[0][2] * stock_transactions[0][3] + 	  stock_transactions[1][2] * stock_transactions[1][3] + 	  stock_transactions[2][2] * stock_transactions[2][3]
print( "Total transaction amount: HK$", amount)

[('14 Mar 2022', 'HSBC', 2000, 49.61), ('14 Mar 2022', 'A50', 400, 15.52), ('10 Mar 2022', 'HSBC', 4000, 48.36)]
Total transaction amount: HK$ 298868.0

In [15]:
# list and tutple exercise solution 2
stock_transactions = [
    ("14 Mar 2022", "HSBC", 2000, 49.61),
    ("14 Mar 2022", "A50", 400, 15.52),
    ("10 Mar 2022", "HSBC", 4000, 48.36)
]
print( stock_transactions )
amount = 0
for transaction in stock_transactions:
    print( transaction )
    amount += transaction[2] * transaction[3]
print( "Total transaction amount: HK$", amount)

[('14 Mar 2022', 'HSBC', 2000, 49.61), ('14 Mar 2022', 'A50', 400, 15.52), ('10 Mar 2022', 'HSBC', 4000, 48.36)]
('14 Mar 2022', 'HSBC', 2000, 49.61)
('14 Mar 2022', 'A50', 400, 15.52)
('10 Mar 2022', 'HSBC', 4000, 48.36)
Total transaction amount: HK$ 298868.0

In [16]:
cuhk = "The Chinese University of Hong Kong"
sentence = "This is a GOOD day"
message = "I love " + cuhk + "!"
print(message)

I love The Chinese University of Hong Kong!

In [17]:
dictionary = {"this":"pronoun", "is":"verb-to-be", "a":"article", "good":"something pleasant", "day":"24 hours"}
sentence = "This is a GOOD day"
print("lower:", sentence.lower())
print("upper:", sentence.upper())
print("capitalize:", sentence.capitalize())
print("swapcase:", sentence.swapcase())
pieces = sentence.lower().split()
print("Broken into pieces:", pieces)
print("Dictionary look-up word by word:")
for word in pieces:
    print("'", word, "' means", dictionary[word])

lower: this is a good day
upper: THIS IS A GOOD DAY
capitalize: This is a good day
swapcase: tHIS IS A good DAY
Broken into pieces: ['this', 'is', 'a', 'good', 'day']
Dictionary look-up word by word:
' this ' means pronoun
' is ' means verb-to-be
' a ' means article
' good ' means something pleasant
' day ' means 24 hours

In [18]:
# define and use functions
def sayHi():
    print("Hi!")

sayHi()
sayHi()
sayHi()

def greet(message:str):
    print("Hi!", message)
    print("I'm happy!")

greet("Peter")
greet("Mary")

def inch2cm(inch:float):
    return inch*2.54

print("1 inch =", inch2cm(1), "cm")
print("5 inches =", inch2cm(5), "cm")
print("3 feet =", inch2cm(3*12)/100, "m")

Hi!
Hi!
Hi!
Hi! Peter
I'm happy!
Hi! Mary
I'm happy!
1 inch = 2.54 cm
5 inches = 12.7 cm
3 feet = 0.9144 m